/*
*  This resource file if generated automatically by Miranda Ico Generator
*  Do not try to edit this file, it will be overwritten on next build
*/

104 ICON DISCARDABLE "$online"
105 ICON DISCARDABLE "$offline"
128 ICON DISCARDABLE "$away"
129 ICON DISCARDABLE "$freechat"
130 ICON DISCARDABLE "$invisible"
131 ICON DISCARDABLE "$na"
158 ICON DISCARDABLE "$dnd"
159 ICON DISCARDABLE "$occupied"
1002 ICON DISCARDABLE "$onthephone"
1003 ICON DISCARDABLE "$outtolunch"

// Version Info goes here
1 VERSIONINFO
FILEVERSION $v1, $v2, $v3, $v4
PRODUCTVERSION $v1, $v2, $v3, $v4
FILEFLAGSMASK 0
FILEOS 0x40000
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "FileDescription", "$description\0"
      VALUE "ProductName", "$name\0"
      VALUE "ProductVersion", "${v1}.${v2}.${v3}.${v4}\0"
      VALUE "FileVersion", "${v1}.${v2}.${v3}.${v4}\0"
      VALUE "LegalCopyright", "$copyright\0"
      VALUE "OriginalFilename", "${proto}.dll\0"
      VALUE "About Miranda", "Miranda IM is a new generation IM client, extensible with numerous plugins. Get Miranda IM at http://www.miranda-im.org\0"
    }
  }
}

